
<link href="https://fonts.googleapis.com/css?family=Verala+Round|Pacifico" rel="stylesheet">

<div class="left_container">


  <div class="container">

<!-- User details **************************************************************** -->

<% @users.take(3).each do |user| %>
    <div class="user">

      <div class="bgdiv">
        <div class="user_pic">
        <%= image_tag user.photo %>
        </div>

        <p><%= user.name %></p>
        <p><%= user.location %></p>

        <button>Following</button>
        <button>Followers</button>

        <%= button_to 'Follow', follow_new_path(user.id) %>

        <p>Inmail</p>

          <h3>Bio:</h3>
          <%= user.background %>
      </div>
      <!-- Artform details ************************************************************* -->

     <div class="bgdiv">
        <div class="arty">

          <h3>Artform:</h3>

          <% user.artforms.each do |artform| %>
            <div class="artform_pic">
              <%= image_tag artform.image %>
            </div>
          <% end %>

          <h3>Comments:</h3>
          <div class="comments">
            <%= user.artforms.first.bio if user.artforms.any? %>
          </div>

        </div>
      </div>
<!-- Work preferences ************************************************************** -->

    <div class="bgdiv">

      <div class="work">

        <!-- <ul>
          <li>Full time</li>
          <li>Part time</li>
          <li>Shift work</li>
          <li>Weekend work</li>
          <li>Contract</li>
          <li>Any</li>
        </ul> -->

        <h3>Work preferences:</h3>
        <div class="pref">
          <%= user.work_wanted_details %>
        </div>

      </div>

    </div>

  </div><!-- end user -->
<% end %>

  </div>

</div>

<!-- Scrolling side ********************************************************** -->
<!-- ************************************************************************* -->

<aside class="scroll">

<!-- "Slick scroller"  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
<!-- <div class="container">
<div class="hero__title" id="animatedHeading">
  <div class="slick-dupe"><span class="hero__title-misc  |  animate">1</span></div>
  <div class="slick-dupe"><span class="hero__title-misc  |  animate">2</span></div>
  <div class="slick-dupe"><span class="hero__title-misc  |  animate">3</span></div>
</div>
</div> -->

<!-- Insert scroller  ************************************************************  -->



<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->

<div id="scroll_header">
<h3>These people did it!</h3>
</div>

  <div class="owl-carousel">


  <div class="paragons">



      <div id="picOne"><%= image_tag 'charlesDickens.jpg' %></div>
      <div id="exampleOne">
        <h3>Charles Dickens</h3>
        <p>Vocation: Writer</p>
        <p>Day job: Factory worker</p>
      </div>

    </div>

  <div class="paragons">


    <div id="picTwo"><%= image_tag 'cLauper.jpg' %></div>
    <div id="exampleTwo">
      <h3>Cyndi Lauper</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Kennel cleaner</p>
    </div>

  </div>

  <div class="paragons">


    <div id="picThree"><%= image_tag 'paulGauguin2.jpg' %></div>
    <div id="exampleThree">
      <h3>Paul Gauguin</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Stock broker</p>
    </div>

  </div>

  <div class="paragons">


    <div id="picFour"><%= image_tag 'stephenKing2.jpeg' %></div>
    <div id="exampleFour">
      <h3>Stephen King</h3>
      <p>Vocation: Writer</p>
      <p>Day job: School janitor</p>
    </div>

  </div>

  <div class="paragons">


    <div id="picFive"><%= image_tag 'pGlass2.jpeg' %></div>
    <div id="exampleFive">
      <h3>Phillip Glass</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Plumber/Taxi driver</p>
    </div>
  </div>

  <div class="paragons">


    <div id="picSix"><%= image_tag 'harperLee.jpg' %></div>
    <div id="exampleSix">
      <h3>Harper Lee</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Airline clerk</p>
    </div>
  </div>

  <div class="paragons">


    <div id="picSeven"><%= image_tag 'williamFaulkner2.jpg' %></div>
    <div id="exampleSeven">
      <h3>William Faulkner</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Mailman</p>
    </div>

  </div>

  <div class="paragons">


    <div id="picEight"><%= image_tag 'mickJagger.jpeg' %></div>
    <div id="exampleEight">
      <h3>Mick Jagger</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Hospital porter</p>
    </div>
  </div>

  <div class="paragons">


    <div id="picNine"><%= image_tag 'jPollock.jpeg' %></div>
    <div id="exampleNine">
      <h3>Jackson Pollock</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Babysitter</p>
    </div>
  </div>

  <div class="paragons">


    <div id="picTen"><%= image_tag 'aChristie.jpg' %></div>
    <div id="exampleTen">
      <h3>Agatha Christie</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Chemist's assistant</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picEleven"><%= image_tag 'jGrisham.jpeg' %></div>
    <div id="exampleEleven">
      <h3>John Grisham</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Plumber</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picTwelve"><%= image_tag 'AiWeiwei.jpg' %></div>
    <div id="exampleTwelve">
      <h3>Ai Weiwei</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Carpenter/House painter</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picThirteen"><%= image_tag 'Vivian_Maier.jpg' %></div>
    <div id="exampleThirteen">
      <h3>Vivian Maier</h3>
      <p>Vocation: Photographer</p>
      <p>Day job: Nanny</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picFourteen"><%= image_tag 'cBukowskii.jpg' %></div>
    <div id="exampleFourteen">
      <h3>Charles Bukowski</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Mailman/etc, etc</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picFifthteen"><%= image_tag 'kCobain.jpeg' %></div>
    <div id="exampleFifthteen">
      <h3>Kurt Cobain</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Janitor</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picSixteen"><%= image_tag 'georgeSaunders.jpg' %></div>
    <div id="exampleSixteen">
      <h3>George Saunders</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Doorman/Roofer/etc</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picSeventeen"><%= image_tag 'nathaniel-hawthorne.jpg' %></div>
    <div id="exampleSeventeen">
      <h3>Nathaniel Hawthorne</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Port clerk</p>
    </div>
  </div>

  <div class="paragons">

    <div id="picEighteen"><%= image_tag 'toniMorrison.jpg' %></div>
    <div id="exampleSixteen">
      <h3>Toni Morrison</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Housewife</p>
    </div>
  </div>
</div>

  <div id="quote">
    <h3>Remember:</h3>
    <p>"9 to 5 to stay alive,<br>5 to 9 to perfect your dreams."</p>
  </div>

</aside>
