<!DOCTYPE html>
<html>
<head>
  <title>Leftout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
    <div id="logo" class="navitem">
      <h1>LeftOut</h1>
    </div>

    <div id="home" class="navitem">
      <h1><h1><%= link_to "Home", "/" %></h1>
    </div>

    <% if @current_user.present? %>
    <div id="profile" class="navitem">
      <h1><%= link_to "Profile", profile_path(@current_user.id) %></h1>
     </div>

    <div id="nav_conversations" class="navitem">
      <h1><%= link_to 'Your Conversations', conversations_path %></h1>
    </div>

     <div id="sign_out" class="navitem">
      <h1><%= link_to "Sign Out #{ @current_user.try(:name) }", login_path, :method => :delete %></h1>
    </div>

    <% else %>

    <div id="sign_up" class="navitem">
      <h1><%= link_to "Sign Up", new_user_path %></h1>
    </div>

    <div id="sign_in" class="navitem">
      <h1><%= link_to "Sign In", login_path %></h1>
    </div>
    <% end %>



    <div id="search" class="navitem">
      <%= form_tag search_path, :method => :get do %>
        <input type="text" id="navsearch" name="q"> <input type="submit" value="search">
      <% end %>
    </div>

  </nav>

  <div class="tagline">
    <h2>The place for creatives who prefer to kick out the corporate ladder rather than climb it.</h2>
      <!-- <p>So if you simply want a job to pay the rent whilst you follow your true calling, start here.</p> -->
  </div>

<%= yield %>

</body>
</html>
